<h1><%= ticket.description %></h1>
<p>
    <%= ticket.content %>
</p>
<h3>Responses: </h3>
<% if !ticket.responses.empty? %>
    <ul>
        <% ticket.responses.each do |response| %>
            <% if response.persisted? %>
            <p><%= response.user.email %>: <%= response.content %></p>
                <% if current_user.responses %>
                    <%= f.hidden_field :response_id %>
                    <p><%= link_to "Edit", edit_user_response_path(current_user.id) %></p>    
                <% end %>
            <% end %>
        <% end %>
    </ul>
<% else %>
    <p>No Responses Found</p>
<% end %>
