<h1><%= ticket.description %></h1>
<p>
    <%= ticket.content %>
</p>
<h3>Responses: </h3>
<% if !ticket.responses.empty?%>
    <ul>
        <% ticket.responses.each do |response| %>
            <% if response.persisted? %>
            <p><%= response.user.email %>: <%= response.content %></p>
                <% if response.user_id == current_user.id %>
            <p><%= link_to "Edit", edit_ticket_response_path(ticket.id,response.id) %>| <%= link_to "Delete", ticket_response_path(ticket.id,response.id),{method:'delete'} %>
                <% end %>
            <% end %>
        <% end %>
    </ul>
<% else %>
    <p>No Responses Found</p>
<% end %>
<% if @ticket.user_id == current_user.id %>
<p><%= link_to "Resolved", ticket_path(ticket.id),{method:'resolved'}%></p>
<% end %>

