<!DOCTYPE html>
<html>
  <head>
    <title>HelpDeskRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="nav_bar">
        <ul>
          <% if user_signed_in? %>
            <%= button_to 'View Profile', user_path(current_user.id)%>
            <%= button_to 'edit profile', edit_user_path(current_user.id)  %>
            <%= button_to 'Sign Out', destroy_user_session_path, method: :delete%>
          <% end %>
      </ul>
      <%= yield %>
  </body>
</html>
