<!DOCTYPE html>
<html>
  <head>
    <title>HelpDeskRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="nav_bar">
        <ul>
          <% if current_user %>
            <p><%= button_to 'Sign Out', destroy_user_session_path , {method: 'delete'} %></p>
            <p><%= link_to 'Tickets',tickets_path%></p>
            <p><%= link_to "Home", user_path(current_user.id) %></p>
          <% end %>
      </ul>
      <%= yield %>
  </body>
</html>
